@font-face {
    font-family: avenir-regular;
    src: url(/assets/Font/AvenirNextLTPro-Regular.otf);
    }
@font-face {
        font-family: avenir-bold;
        src: url(/assets/Font/AvenirNextLTPro-Bold.otf);
    }
@font-face {
    font-family: avenir-demi;
    src: url(/assets/Font/AvenirNextLTPro-Demi.otf);
}
