@use 'partials/fonts' as *;
@use 'partials/colors' as *;
@use 'partials/global' as *;

*{
    box-sizing: border-box;   
} 

body,h1,h2,h3,p{
    margin: 0;
}

a {
    text-decoration: none;
    color: $mercury;
}

.menu{
    background-color: $black; 

    &__logo{
        width: 7.5rem;
        padding-top: 1rem;
        display:block;
        margin: auto;
    }
}

.nav__list{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 1rem 0;
    color: $mercury;
    font-family: avenir-regular;
    font-size: .875rem;
    margin: 0;
    width: 100%;
    padding-bottom: 0px;
}

.nav__listlink{
    color: $white;
}
    .nav__list-link-item{
        text-align: center;
        width: 50%;

        &--active{
            border-bottom: 5px solid #fff;
            padding-bottom: 1rem;
        }
    }


@media screen and (min-width: 768px){

.menu{
    background-color: $black; 
    display:flex;
    align-items: center;
    padding: 0 2.25rem;

    &__logo{
        width: 7.5rem;
        padding-top: 0;
        margin-right: 4rem;
    }
}

.nav__list{
    padding: 1rem 0rem 0rem;
    
}

.nav__list-link-item{
    padding-top: .25rem;
    margin-right: 2.25rem;

}
}
    
@media screen and (min-width: 1280px) {
    .menu{
        padding: 0rem 7.5rem;


        &__logo{
            margin-right: 2.5rem;
        }
    
    }
}

.hero{
    background-image:url(/assets/Images/hero-bio.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-color:rgba(50,50,50,.5);
    height: 20rem;
    width: 100%;
    position: relative;

    &__title{
        font-family: avenir-demi;
        color: $white;
        font-size: 2.25rem;
        padding-left: 1rem;
        position: relative;
        top: 8rem;
    }
}

@media screen and (min-width:768px){
    .hero{
        height: 30rem;
        width: 100%;
        position: relative;

        &__title{
            font-family: avenir-demi;
            color: $white;
            font-size: 3.75rem;
            line-height: 4.25rem;
            padding-left: 2.25rem;
            position: relative;
            top: 11rem;
            
        }
    }
}

@media screen and (min-width:1280px) {
    .hero__title{
        padding-left: 7.5rem;
    }
}

.biography{
    display: flex;
    flex-direction: column;
    padding: 0 1rem;

    &__title{
        font-family: avenir-demi;
        font-size: 1.5rem;
        line-height: 2.25rem;
        padding: 1.5rem 0 1rem ;
    }

    &__image{
        padding-bottom: 1rem;
        
    } 

    &__name{
        padding-bottom: 1rem;
        font-family: avenir-regular;
        line-height: 1.375rem;
        
    }
}



.biography__quote{
        font-family: avenir-demi;
        font-size: .8125rem;
        padding-bottom: 1rem;
        line-height: 1.375rem;
        color: $black;

        &--person{
            font-family: avenir-demi;
            font-size: .8125rem;
            padding-bottom: 1.5rem;
            line-height: 1.125rem;
            color: $black;
        }
    }

.biography__text{
    font-family: avenir-regular;
    line-height: 1.125rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    font-size: .8125rem;
    color: $black;

    &--space{
        padding-bottom: 1rem;
    }
}

@media screen and(min-width:768px) {
    .biography{
        display: flex;
        padding: 0 2.25rem;

        &__title{
            font-family: avenir-demi;
            font-size: 2.25rem;
            line-height: 2.75rem;
            padding: 3rem 0 2.25rem ;
        }

        &__image{
            padding:0 2.25rem 2.25rem
        } 

        &__name{
            padding:0 2.25rem 1.5rem;
            font-family: avenir-demi;
            line-height: 2rem;
            font-size: 1.5rem;
        }
    }
    
    .biography__quote{
        font-family: avenir-demi;
        font-size: 1.5rem;
        padding: 0 2.25rem 1rem;
        line-height: 1.75rem;

        &--person{
            font-family: avenir-demi;
            font-size: .875rem;
            padding:0 2.25rem 2.25rem;
        }
    }
    
    .biography__text{
        font-family: avenir-regular;
        line-height: 1.375rem;
        display: flex;
        flex-direction: row;
        padding:0 2.25rem 2.25rem;
        font-size: .875rem;

        &--space{
            padding-right: 1.12rem;
        }

        &--space-left{
            padding-left: 1.13rem;
        }
    }
    }
    
@media screen and (min-width:1280px) {
    .biography{
        padding: 0 7.5rem;

        &__image{
            padding:0 4rem 2.25rem;   
        }

        &__text{
            padding: 0 4rem 2.25rem;
        }
    
        &__name{
            padding: 0 4rem 1.5rem;
        }
    }

    .biography__quote{
        padding: 0 4rem 1rem;
        max-width: 80%;

        &--person{
            padding: 0 4rem 2.25rem;
        }
    }
}

.image-container{
    background-color: $alabaster;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;

    &__title{
        padding:1.5rem 0 1rem 0;
        font-family: avenir-demi;
        font-size: 1.5rem;
        line-height: 2.25rem;
        color: $black;
    }
}

.image{
    margin-bottom: 1rem;
    max-width: 100%;
}

@media screen and (min-width:768px){
    
.image-container{
    background-color: $alabaster;
    display: flex;
    flex-direction: column;
    padding: 0 2.25rem;

    &__title{
        padding:1.5rem 0 2.25rem 0;
        font-family: avenir-demi;
        font-size: 2.25rem;
        line-height: 2.75rem;
    }
}

.image{
    margin-bottom: 2.25rem;
    max-width: 31%;
}

.pic-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
}

@media screen and (min-width:1280px) {
    .image-container{
        padding: 0 7.5rem;
    }
}

.footer{
    background-color: $black;
    color: $white;
    padding: 1rem;

    &__title{
        padding-bottom: 1rem;
        font-family: avenir-demi;
        font-size: 1.5rem;
        line-height: 2rem;
    }

    &__logo{
        padding-bottom: 1rem;
        padding-right: 1rem;
    }

    &__band-logo{
        padding: 2rem 0 1rem;
    }
    
    &__copyright{
        font-family: avenir-regular;
        font-size: .8125rem;
        line-height: 1.125rem;
    }
}

.footer__contact-container{
    font-family: avenir-regular;
    font-size: .8125rem;
    line-height: 1.125rem;

    &--agents{
        padding-bottom: 1rem;
    }
    
    &--demi{
        font-family: avenir-demi;
    }
}

@media screen and (min-width:768px) {
    .footer{
        background-color: $black;
        color: $white;
        padding: 2.25rem;
        position: relative;

        &__title{
            padding-bottom: 2.25rem;
            font-family: avenir-demi;
            font-size: 2.25rem;
            line-height: 2.75rem;
            padding-right: 1.5rem;
        }
        &__band-logo{
            padding: 2rem 0 1rem;
            position: absolute;
            top: 1rem;
            right: 2.25rem;
        }
        
        &__copyright{
            font-family: avenir-regular;
            font-size: .8125rem;
            line-height: 1.125rem;
    }
    
    .footer__logo{
        padding-bottom: 1.5rem;
        padding-left: .5rem;
        
    }
    }

    .footer__logo-container{
        display: flex;
        align-items: center;
        
    }

    .footer__contact-container{
        font-family: avenir-regular;
        font-size: .8125rem;
        line-height: 1.125rem;
        display: flex;

        &--agents{
            padding-bottom: 2.25rem;
            padding-right: 2.25rem;
        }
        
        &--demi{
            font-family: avenir-demi;
        }
    }
}

@media  screen and (min-width:1280px) {
    .footer{
        padding: 2.25rem 7.5rem;

        &__band-logo{
        right:7.5rem;
    }
    }

    .footer__contact-container--agents{
        padding-right: 3.93rem;
    }
}